{% extends "Privatization.html" %}

{% block description %}
Perform a clustering operation to identify how the dataset can be separated and which entries are at risk of being identified.
{% endblock %}

{% block parameters %}
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Value</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% if not selFields: %}
        <tr>
            <td><label for="divisions">Divisions</label></td>
            <td><input type="number" id="divisions" name="divisions" min=1 step=1 value={{divisionList[0]}}></td>
            <td>Number of divisions to apply over the complete dataset. You can add fields to divide each field separatedly.</td>
        </tr>
        {% endif %}
        <tr>
            <td><label>Selected Attributes</label></td>
            <td>
                <div class="is-ancestor is-vertical">
                    {% for selField in range(selFields|length): %}
                    <div class="tile is-parent is-fullwidth">
                        <div class="tile select is-child">
                            <select id="SelFields" name="SelFields">
                                {% for fieldName in fileData['fields']: %}
                                <option value="{{fieldName}}" {{'selected' if fieldName == selFields[selField] else ''}}>
                                    {{fieldName}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="tile is-child">
                            <input type="number" name="DivisionList" min="2" step="1" value="{{divisionList[selField]}}">
                        </div>
                    </div>
                    {% endfor %}
                        <button class="button is-block is-success is-fullwidth" name="AddField">Add Field</button>
                    {% if selFields: %}
                        <button class="button is-block is-danger is-fullwidth" name="RemoveField">Remove Field</button>
                    {% endif %}
                </div>
            </td>
            <td>Fields that will be affected by the data generalization operation. If no fields are selected, the operation
            applies to all fields instead.</td>
        </tr>
    </tbody>
</table>

<button class="button is-block is-info is-large is-fullwidth" name="Operate">Generalize</button>
{% endblock %}